{
  "basePath": "/pc/service/portal",
  "paths": {
    "/quickquote/qpm": {
      "post": {
        "parameters": [
          {
            "schema": {
              "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
            },
            "description": "Quote data DTO",
            "name": "dto",
            "required": true,
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "portal.pc.dto.quote.QuoteListDTO<portal.pc.dto.quote.qpm.QPMQuoteDataDTO>"
            },
            "description": "Quick Quote Result"
          }
        }
      }
    },
    "/quote/qpm": {
      "post": {
        "parameters": [
          {
            "schema": {
              "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
            },
            "description": "Quote data DTO",
            "name": "dto",
            "required": false,
            "in": "body"
          },
          {
            "description": "Set to true to create and quote",
            "name": "quote",
            "required": false,
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
            },
            "description": "DTO of the created Quote"
          }
        }
      },
      "get": {
        "responses": {
          "200": {
            "schema": {
              "$ref": "portal.pc.dto.quote.QuoteListDTO<portal.pc.dto.quote.qpm.QPMQuoteDataDTO>"
            },
            "description": "Quote list"
          }
        }
      }
    },
    "/quote/qpm/{quoteID}/email": {
      "post": {
        "parameters": [
          {
            "schema": {
              "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
            },
            "name": "dto",
            "required": true,
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
            },
            "description": "Quote DTO"
          }
        }
      }
    },
    "/campaign": {
      "head": {
        "parameters": [
          {
            "description": "Campaign code",
            "name": "code",
            "required": true,
            "type": "string",
            "in": "query"
          },
          {
            "description": "Timestamp",
            "name": "timestamp",
            "format": "int64",
            "required": true,
            "type": "integer",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/quote/qpm/{quoteID}/sms": {
      "post": {
        "parameters": [
          {
            "schema": {
              "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
            },
            "name": "dto",
            "required": true,
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
            },
            "description": "Quote DTO"
          }
        }
      }
    },
    "/quote/qpm/{quoteID}": {
      "put": {
        "parameters": [
          {
            "description": "Id of the quote",
            "name": "quoteID",
            "required": true,
            "type": "string",
            "in": "path"
          },
          {
            "schema": {
              "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
            },
            "description": "Quote data DTO",
            "name": "dto",
            "required": true,
            "in": "body"
          },
          {
            "description": "Set to true to save and quote",
            "name": "quote",
            "required": false,
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
            },
            "description": "DTO of the saved Quote"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "Id of the quote",
            "name": "quoteID",
            "required": true,
            "type": "string",
            "in": "path"
          },
          {
            "name": "email",
            "required": false,
            "type": "string",
            "in": "query"
          },
          {
            "name": "mobile",
            "required": false,
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
            },
            "description": "Quote DTO"
          }
        }
      }
    },
    "/api-doc": {
      "get": {
        "parameters": [
          {
            "name": "internal",
            "required": false,
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "type": "string"
          }
        }
      }
    }
  },
  "host": "qbe.ey-tec.com",
  "schemes": [
    "https",
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "swagger": "2.0",
  "definitions": {
    "portal.pc.dto.quote.qpm.QPMVehicleCoverageOptionDTO": {
      "properties": {
        "selected": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "required": [
        "name",
        "selected"
      ]
    },
    "portal.pc.dto.quote.qpm.QPMQuoteResultDTO": {
      "properties": {
        "totalStampDuty": {
          "format": "double",
          "type": "number"
        },
        "decline": {
          "type": "boolean"
        },
        "referral": {
          "type": "boolean"
        },
        "totalGST": {
          "format": "double",
          "type": "number"
        },
        "totalPremium": {
          "format": "double",
          "type": "number"
        },
        "totalFSL": {
          "format": "double",
          "type": "number"
        },
        "premiumAfterDiscount": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "portal.pc.dto.AccountDTO": {
      "properties": {
        "accountNumber": {
          "type": "string"
        },
        "accountHolder": {
          "$ref": "portal.pc.dto.PersonDTO"
        },
        "ID": {
          "type": "string"
        }
      }
    },
    "portal.pc.dto.quote.QuoteListDTO<portal.pc.dto.quote.qpm.QPMQuoteDataDTO>": {
      "properties": {
        "results": {
          "items": {
            "$ref": "portal.pc.dto.quote.qpm.QPMQuoteDataDTO"
          },
          "type": "array"
        }
      }
    },
    "portal.pc.dto.quote.qpm.QPMDriverHistoryDTO": {
      "properties": {
        "pattern": {
          "$ref": "portal.suite.dto.ReferenceDataDTO<entity.DrivingHistoryEventPattern_Ext>",
          "referenceData": [
            {
              "ID": "qbe:1",
              "code": "CSV",
              "description": "Collision - only vehicle involved (fixed property/parked car/animal/pedestrian)",
              "filter1": "claim"
            },
            {
              "ID": "qbe:10",
              "code": "FIR",
              "description": "Fire - not Total Loss",
              "filter1": "claim"
            },
            {
              "ID": "qbe:11",
              "code": "MDV",
              "description": "Malicious Damage",
              "filter1": "claim"
            },
            {
              "ID": "qbe:12",
              "code": "WIN",
              "description": "Windscreen",
              "filter1": "claim"
            },
            {
              "ID": "qbe:13",
              "code": "FLO",
              "description": "Flood",
              "filter1": "claim"
            },
            {
              "ID": "qbe:14",
              "code": "HAI",
              "description": "Hail",
              "filter1": "claim"
            },
            {
              "ID": "qbe:15",
              "code": "STO",
              "description": "Storm",
              "filter1": "claim"
            },
            {
              "ID": "qbe:16",
              "code": "AFF",
              "description": "Affray; Inciting violence; Participating in riotous behaviour",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:17",
              "code": "ARR",
              "description": "Armed robbery",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:18",
              "code": "ABH",
              "description": "Assault - actual bodily harm",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:19",
              "code": "GBH",
              "description": "Assault - grievous bodily harm",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:2",
              "code": "CNF",
              "description": "Collision - multi vehicle - NAF",
              "filter1": "claim"
            },
            {
              "ID": "qbe:20",
              "code": "AAO",
              "description": "Assault - all other",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:21",
              "code": "BCO",
              "description": "Breach of Court order",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:22",
              "code": "CDP",
              "description": "Causing damage to property",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:23",
              "code": "AGB",
              "description": "Aggravated burglary",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:24",
              "code": "BAE",
              "description": "Break and enter",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:25",
              "code": "SCO",
              "description": "Serious criminal offence (not otherwise defined)",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:26",
              "code": "HOS",
              "description": "Holding someone hostage",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:27",
              "code": "MSL",
              "description": "Manslaughter",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:28",
              "code": "MUR",
              "description": "Murder",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:29",
              "code": "INC",
              "description": "Incarceration for any criminal offence (not otherwise described)",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:3",
              "code": "CAF",
              "description": "Collision - multi vehicle - AF",
              "filter1": "claim"
            },
            {
              "ID": "qbe:30",
              "code": "COR",
              "description": "Refused to give evidence to Coroner",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:31",
              "code": "CON",
              "description": "Contempt of court",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:32",
              "code": "ARS",
              "description": "Arson",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:33",
              "code": "DIS",
              "description": "Disorderly conduct",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:34",
              "code": "BRE",
              "description": "Breach of bail",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:35",
              "code": "INS",
              "description": "Insurance fraud",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:36",
              "code": "IDT",
              "description": "Identity theft",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:37",
              "code": "FDC",
              "description": "Obtain benefit by deception (credit card/cheque/social security/tax fraud)",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:38",
              "code": "FOR",
              "description": "Forgery and counterfeiting (currency/documents/false instrument)",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:39",
              "code": "EMB",
              "description": "Deceptive business or government practices (eg as a director of a company/embezzlement)",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:4",
              "code": "HWP",
              "description": "Hit While Parked",
              "filter1": "claim"
            },
            {
              "ID": "qbe:40",
              "code": "WMP",
              "description": "Wilful misleading of Police",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:41",
              "code": "TMV",
              "description": "Theft of motor vehicle",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:42",
              "code": "TMB",
              "description": "Theft of motor bike",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:43",
              "code": "TSL",
              "description": "Theft - shoplifting / stealing as a servant",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:44",
              "code": "TRC",
              "description": "Theft - receiving",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:45",
              "code": "TBE",
              "description": "Theft - breaking and entering",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:46",
              "code": "PDS",
              "description": "Possession of prohibited drug - intent to sell/supply",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:47",
              "code": "PPD",
              "description": "Possession of prohibited drug and/or drug paraphernalia",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:48",
              "code": "PUF",
              "description": "Possession of unlicenced firearm",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:49",
              "code": "POW",
              "description": "Possession of an offensive weapon (inc imitation)",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:5",
              "code": "LCV",
              "description": "Lost Control",
              "filter1": "claim"
            },
            {
              "ID": "qbe:50",
              "code": "FFS",
              "description": "Firearm - fail to keep safe",
              "filter1": "conviction"
            },
            {
              "ID": "qbe:51",
              "code": "S09",
              "description": "0-9 kmh over the limit",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:52",
              "code": "S14",
              "description": "10-14 kmh over the limit",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:53",
              "code": "S19",
              "description": "15-19 kmh over the limit",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:54",
              "code": "S29",
              "description": "20-29 kmh over the limit",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:55",
              "code": "S39",
              "description": "30-39 kmh over the limit",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:56",
              "code": "S40",
              "description": "40+ kmh over the limit",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:57",
              "code": "BTR",
              "description": "Refusing a breathalyser or blood test",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:58",
              "code": "DBS",
              "description": "Driving under influence of a banned substance",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:59",
              "code": "AL0",
              "description": "Alcohol level above .00 (learner's and provisional licences)",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:6",
              "code": "TVR",
              "description": "Theft - Recovered",
              "filter1": "claim"
            },
            {
              "ID": "qbe:60",
              "code": "AL5",
              "description": "Alcohol level of .05 to less than .08",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:61",
              "code": "AL8",
              "description": "Alcohol level of .08 to less than .15",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:62",
              "code": "A15",
              "description": "Alcohol level of .15 or more",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:63",
              "code": "UNL",
              "description": "Driving without a licence (never held)",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:64",
              "code": "DLS",
              "description": "Driving with suspended/cancelled licence",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:65",
              "code": "DFD",
              "description": "Driving while licence expired or licence suspended for fine default",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:66",
              "code": "DUV",
              "description": "Driving an unregistered/unroadworthy vehicle",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:67",
              "code": "UUV",
              "description": "Driving a stolen vehicle",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:68",
              "code": "CLD",
              "description": "Careless Driving",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:69",
              "code": "CUL",
              "description": "Culpable driving (causing death)",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:7",
              "code": "VNR",
              "description": "Theft - Unrecovered",
              "filter1": "claim"
            },
            {
              "ID": "qbe:70",
              "code": "DDR",
              "description": "Dangerous driving",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:71",
              "code": "DUC",
              "description": "Driving with undue care",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:72",
              "code": "FSA",
              "description": "Failing to stop at an accident (hit&run)",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:73",
              "code": "NGD",
              "description": "Negligent driving",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:74",
              "code": "RAC",
              "description": "Racing another driver",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:75",
              "code": "RKD",
              "description": "Reckless driving",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:76",
              "code": "SDO",
              "description": "Other Serious Driving Offence",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:77",
              "code": "CDL",
              "description": "Crossing double lines",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:78",
              "code": "FPC",
              "description": "Failing to give way at a pedestrian crossing",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:79",
              "code": "FSI",
              "description": "Failing to stop at stop sign/red light/controlled intersection",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:8",
              "code": "TPP",
              "description": "Theft - Personal Property/Accs/Modifications",
              "filter1": "claim"
            },
            {
              "ID": "qbe:80",
              "code": "FPL",
              "description": "Failing to display P or L plates",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:81",
              "code": "NVO",
              "description": "Not allowing another vehicle to overtake",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:82",
              "code": "NSB",
              "description": "Not wearing a seatbelt",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:83",
              "code": "OVI",
              "description": "Overtaking another vehicle incorrectly",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:84",
              "code": "PKS",
              "description": "Passing on the kerbside of another vehicle",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:85",
              "code": "MPH",
              "description": "Use of mobile phone while driving",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:86",
              "code": "MTO",
              "description": "Other minor offence or infringement (not otherwise defined)",
              "filter1": "infringement_demerit"
            },
            {
              "ID": "qbe:87",
              "code": "LL3",
              "description": "Loss of licence - up to 3 months",
              "filter1": "infringement_licence"
            },
            {
              "ID": "qbe:88",
              "code": "LL6",
              "description": "Loss of licence - 3 - 6 months",
              "filter1": "infringement_licence"
            },
            {
              "ID": "qbe:89",
              "code": "L12",
              "description": "Loss of licence - 6+ months",
              "filter1": "infringement_licence"
            },
            {
              "ID": "qbe:9",
              "code": "FTL",
              "description": "Fire - Total Loss",
              "filter1": "claim"
            },
            {
              "ID": "qbe:90",
              "code": "LLF",
              "description": "Loss of licence cancelled for fine default",
              "filter1": "infringement_licence"
            }
          ]
        },
        "year": {
          "format": "int32",
          "type": "integer"
        },
        "ID": {
          "type": "string"
        },
        "markedForDelete": {
          "type": "boolean"
        }
      },
      "required": [
        "ID",
        "pattern",
        "year"
      ]
    },
    "portal.pc.dto.PersonDTO": {
      "properties": {
        "dateOfBirth": {
          "dateRange": {
            "start": "",
            "includeStart": true,
            "includeEnd": true,
            "end": "now-18y"
          },
          "format": "date",
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "cellPhone": {
          "type": "string"
        },
        "emailAddress1": {
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "gender": {
          "enum": [
            "F",
            "I",
            "M"
          ],
          "type": "string"
        },
        "ID": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "primaryAddress": {
          "$ref": "portal.pc.dto.AddressDTO"
        }
      },
      "required": [
        "ID",
        "firstName",
        "lastName"
      ]
    },
    "portal.suite.dto.ReferenceDataDTO<entity.DrivingHistoryEventPattern_Ext>": {
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "filter1": {
          "type": "string"
        },
        "ID": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      },
      "required": [
        "ID"
      ]
    },
    "portal.pc.dto.quote.qpm.QPMVehicleDTO": {
      "properties": {
        "drivers": {
          "items": {
            "$ref": "portal.pc.dto.quote.qpm.QPMVehicleDriverDTO"
          },
          "type": "array"
        },
        "excess": {
          "$ref": "portal.pc.dto.quote.qpm.QPMVehicleExcessDTO"
        },
        "primaryUsage": {
          "enum": [
            "private",
            "business",
            "commercial"
          ],
          "type": "string"
        },
        "garageType": {
          "enum": [
            "garage",
            "car_port",
            "driveway",
            "on_street",
            "other"
          ],
          "type": "string"
        },
        "originalOwner": {
          "type": "boolean"
        },
        "availableSumInsuredTypes": {
          "items": {
            "enum": [
              "replacement",
              "market",
              "agreed"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "businessUsage": {
          "enum": [
            "consulate_vehicle",
            "courier",
            "courtesy_car",
            "delivery",
            "driver_education",
            "general",
            "funeral_car",
            "hirecar_limousine_taxi",
            "pilot_vehicle",
            "sporting_events",
            "refrigerated_delivery_vehicle",
            "security_patrol",
            "trade",
            "dangerous_goods",
            "visiting_clients"
          ],
          "type": "string"
        },
        "colour": {
          "enum": [
            "black",
            "blue",
            "bronze",
            "brown",
            "green",
            "grey",
            "maroon",
            "orange",
            "pink",
            "purple",
            "red",
            "silver",
            "white",
            "yellow"
          ],
          "type": "string"
        },
        "sumInsuredType": {
          "enum": [
            "replacement",
            "market",
            "agreed"
          ],
          "type": "string"
        },
        "ID": {
          "type": "string"
        },
        "markedForDelete": {
          "type": "boolean"
        },
        "registrationState": {
          "enum": [
            "AU_ACT",
            "AL",
            "AK",
            "AB",
            "AZ",
            "AR",
            "DE_BW",
            "DE_BY",
            "DE_BE",
            "DE_BB",
            "DE_HB",
            "BC",
            "CA",
            "CO",
            "CT",
            "DE",
            "DC",
            "FM",
            "FL",
            "GA",
            "GU",
            "DE_HH",
            "HI",
            "DE_HE",
            "ID",
            "IL",
            "IN",
            "IA",
            "KS",
            "KY",
            "LA",
            "DE_NI",
            "ME",
            "MB",
            "MH",
            "MD",
            "MA",
            "DE_MV",
            "MI",
            "MN",
            "MS",
            "MO",
            "MT",
            "NE",
            "NV",
            "NB",
            "NH",
            "NJ",
            "NM",
            "AU_NSW",
            "NY",
            "NL",
            "NC",
            "ND",
            "DE_NW",
            "MP",
            "AU_NT",
            "NT",
            "NS",
            "NU",
            "OH",
            "OK",
            "ON",
            "OR",
            "PA",
            "PE",
            "PR",
            "QC",
            "AU_QLD",
            "DE_RP",
            "RI",
            "DE_SL",
            "SK",
            "DE_SN",
            "DE_ST",
            "DE_SH",
            "AU_SA",
            "SC",
            "SD",
            "AU_TAS",
            "TN",
            "TX",
            "DE_TH",
            "UT",
            "VT",
            "AU_VIC",
            "VI",
            "VA",
            "WA",
            "WV",
            "AU_WA",
            "WI",
            "WY",
            "YT",
            "Hokkaido",
            "Aomori",
            "Iwate",
            "Miyagi",
            "Akita",
            "Yamagata",
            "Fukushima",
            "Ibaraki",
            "Tochigi",
            "Gumma",
            "Saitama",
            "Chiba",
            "Tokyo",
            "Kanagawa",
            "Niigata",
            "Toyama",
            "Ishikawa",
            "Fukui",
            "Yamanashi",
            "Nagano",
            "Gifu",
            "Shizuoka",
            "Aichi",
            "Mie",
            "Shiga",
            "Kyoto",
            "Osaka",
            "Hyogo",
            "Nara",
            "Wakayama",
            "Tottori",
            "Shimane",
            "Okayama",
            "Hiroshima",
            "Yamaguchi",
            "Tokushima",
            "Kagawa",
            "Ehime",
            "Kochi",
            "Fukuoka",
            "Saga",
            "Nagasaki",
            "Kumamoto",
            "Oita",
            "Miyazaki",
            "Kagoshima",
            "Okinawa"
          ],
          "type": "string"
        },
        "financeType": {
          "enum": [
            "none",
            "loan",
            "lease",
            "hire_purchase"
          ],
          "type": "string"
        },
        "vehicleInfo": {
          "$ref": "portal.pc.dto.quote.qpm.QPMVehicleInfoDTO"
        },
        "agreedValueUpper": {
          "format": "double",
          "type": "number"
        },
        "afterMarketModifications": {
          "type": "boolean"
        },
        "financeCompany": {
          "$ref": "portal.suite.dto.ReferenceDataDTO<entity.FinanceCompany_Ext>",
          "referenceData": [
            {
              "ID": "qbe:finance-1",
              "code": "ANZ",
              "name": "ANZ Banking Group"
            },
            {
              "ID": "qbe:finance-2",
              "code": "CBA",
              "name": "Commonwealth Bank of Australia"
            },
            {
              "ID": "qbe:finance-3",
              "code": "NAB",
              "name": "National Australia Bank"
            },
            {
              "ID": "qbe:finance-4",
              "code": "WBC",
              "name": "Westpac Banking Corporation"
            }
          ]
        },
        "registrationNumber": {
          "type": "string"
        },
        "agreedValueLower": {
          "format": "double",
          "type": "number"
        },
        "sumInsuredAmount": {
          "format": "double",
          "type": "number"
        },
        "purchaseDate": {
          "format": "date",
          "type": "string"
        },
        "unrepairedDamage": {
          "enum": [
            "none",
            "hail",
            "minordamage",
            "significant_minordamage",
            "collision_damage"
          ],
          "type": "string"
        },
        "garageAddress": {
          "$ref": "portal.pc.dto.AddressDTO"
        },
        "coverType": {
          "enum": [
            "comprehensive",
            "comprehensive_nominated",
            "comprehensive_preferred",
            "third_party_fire_theft",
            "third_party"
          ],
          "type": "string"
        },
        "coverageOptions": {
          "items": {
            "$ref": "portal.pc.dto.quote.qpm.QPMVehicleCoverageOptionDTO"
          },
          "type": "array"
        },
        "purchasePrice": {
          "format": "double",
          "type": "number"
        }
      },
      "required": [
        "ID",
        "vehicleInfo",
        "colour",
        "garageAddress",
        "garageType",
        "unrepairedDamage",
        "primaryUsage",
        "financeType",
        "purchaseDate",
        "purchasePrice",
        "afterMarketModifications"
      ]
    },
    "portal.pc.dto.quote.qpm.QPMVehicleExcessDTO": {
      "properties": {
        "inexperiencedDriver": {
          "format": "double",
          "type": "number"
        },
        "voluntaryVehicleExcess": {
          "format": "double",
          "type": "number"
        },
        "undeclaredDriverTier1": {
          "format": "double",
          "type": "number"
        },
        "standardVehicleExcess": {
          "format": "double",
          "type": "number"
        },
        "undeclaredDriverTier2": {
          "format": "double",
          "type": "number"
        },
        "ageExcessTier1": {
          "format": "double",
          "type": "number"
        },
        "ageExcessTier2": {
          "format": "double",
          "type": "number"
        },
        "voluntaryVehicleExcessOptions": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      }
    },
    "portal.pc.dto.quote.qpm.QPMVehicleInfoDTO": {
      "properties": {
        "bodyStyle": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "engineSize": {
          "type": "string"
        },
        "modelYear": {
          "format": "int32",
          "type": "integer"
        },
        "make": {
          "type": "string"
        },
        "redbookID": {
          "type": "string"
        }
      }
    },
    "portal.suite.dto.ReferenceDataDTO<entity.FinanceCompany_Ext>": {
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "filter1": {
          "type": "string"
        },
        "ID": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      },
      "required": [
        "ID"
      ]
    },
    "portal.pc.dto.quote.qpm.QPMQuoteDataDTO": {
      "properties": {
        "quoteResult": {
          "$ref": "portal.pc.dto.quote.qpm.QPMQuoteResultDTO"
        },
        "periodStartDate": {
          "dateRange": {
            "start": "now",
            "includeStart": true,
            "includeEnd": true,
            "end": "now+1M"
          },
          "format": "date",
          "type": "string"
        },
        "paymentPlans": {
          "items": {
            "$ref": "portal.pc.dto.quote.PaymentPlanDTO"
          },
          "type": "array"
        },
        "anyConvictionsQuestion": {
          "enum": [
            "yes",
            "unknown",
            "no",
            "yes_unknown"
          ],
          "type": "string"
        },
        "quoteID": {
          "type": "string"
        },
        "anyClaimsQuestion": {
          "enum": [
            "yes",
            "unknown",
            "no",
            "yes_unknown"
          ],
          "type": "string"
        },
        "anyLostLicencesQuestion": {
          "enum": [
            "yes",
            "unknown",
            "no",
            "yes_unknown"
          ],
          "type": "string"
        },
        "anyInfringementsQuestion": {
          "enum": [
            "yes",
            "unknown",
            "no",
            "yes_unknown"
          ],
          "type": "string"
        },
        "secret": {
          "type": "string"
        },
        "account": {
          "$ref": "portal.pc.dto.AccountDTO"
        },
        "vehicles": {
          "items": {
            "$ref": "portal.pc.dto.quote.qpm.QPMVehicleDTO"
          },
          "type": "array"
        },
        "campaignCode": {
          "type": "string"
        }
      },
      "required": [
        "periodStartDate",
        "anyClaimsQuestion",
        "anyConvictionsQuestion",
        "anyInfringementsQuestion",
        "anyLostLicencesQuestion"
      ]
    },
    "portal.pc.dto.quote.qpm.QPMVehicleDriverDTO": {
      "properties": {
        "driver": {
          "$ref": "portal.pc.dto.quote.qpm.QPMPolicyDriverDTO"
        },
        "ID": {
          "type": "string"
        },
        "markedForDelete": {
          "type": "boolean"
        },
        "driverUsage": {
          "enum": [
            "main",
            "other",
            "excluded"
          ],
          "type": "string"
        }
      },
      "required": [
        "ID",
        "driver",
        "driverUsage"
      ]
    },
    "portal.pc.dto.quote.PaymentPlanDTO": {
      "properties": {
        "installment": {
          "format": "double",
          "type": "number"
        },
        "total": {
          "format": "double",
          "type": "number"
        },
        "selected": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "billingID": {
          "type": "string"
        },
        "downPayment": {
          "format": "double",
          "type": "number"
        },
        "numberOfPayments": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "portal.pc.dto.AddressDTO": {
      "properties": {
        "postalCode": {
          "type": "string"
        },
        "state": {
          "enum": [
            "AU_ACT",
            "AL",
            "AK",
            "AB",
            "AZ",
            "AR",
            "DE_BW",
            "DE_BY",
            "DE_BE",
            "DE_BB",
            "DE_HB",
            "BC",
            "CA",
            "CO",
            "CT",
            "DE",
            "DC",
            "FM",
            "FL",
            "GA",
            "GU",
            "DE_HH",
            "HI",
            "DE_HE",
            "ID",
            "IL",
            "IN",
            "IA",
            "KS",
            "KY",
            "LA",
            "DE_NI",
            "ME",
            "MB",
            "MH",
            "MD",
            "MA",
            "DE_MV",
            "MI",
            "MN",
            "MS",
            "MO",
            "MT",
            "NE",
            "NV",
            "NB",
            "NH",
            "NJ",
            "NM",
            "AU_NSW",
            "NY",
            "NL",
            "NC",
            "ND",
            "DE_NW",
            "MP",
            "AU_NT",
            "NT",
            "NS",
            "NU",
            "OH",
            "OK",
            "ON",
            "OR",
            "PA",
            "PE",
            "PR",
            "QC",
            "AU_QLD",
            "DE_RP",
            "RI",
            "DE_SL",
            "SK",
            "DE_SN",
            "DE_ST",
            "DE_SH",
            "AU_SA",
            "SC",
            "SD",
            "AU_TAS",
            "TN",
            "TX",
            "DE_TH",
            "UT",
            "VT",
            "AU_VIC",
            "VI",
            "VA",
            "WA",
            "WV",
            "AU_WA",
            "WI",
            "WY",
            "YT",
            "Hokkaido",
            "Aomori",
            "Iwate",
            "Miyagi",
            "Akita",
            "Yamagata",
            "Fukushima",
            "Ibaraki",
            "Tochigi",
            "Gumma",
            "Saitama",
            "Chiba",
            "Tokyo",
            "Kanagawa",
            "Niigata",
            "Toyama",
            "Ishikawa",
            "Fukui",
            "Yamanashi",
            "Nagano",
            "Gifu",
            "Shizuoka",
            "Aichi",
            "Mie",
            "Shiga",
            "Kyoto",
            "Osaka",
            "Hyogo",
            "Nara",
            "Wakayama",
            "Tottori",
            "Shimane",
            "Okayama",
            "Hiroshima",
            "Yamaguchi",
            "Tokushima",
            "Kagawa",
            "Ehime",
            "Kochi",
            "Fukuoka",
            "Saga",
            "Nagasaki",
            "Kumamoto",
            "Oita",
            "Miyazaki",
            "Kagoshima",
            "Okinawa"
          ],
          "type": "string"
        },
        "ID": {
          "type": "string"
        },
        "addressType": {
          "enum": [
            "business",
            "postal",
            "residential"
          ],
          "type": "string"
        },
        "addressLine3": {
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "addressLine2": {
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "addressLine1": {
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        },
        "city": {
          "maxLength": 60,
          "minLength": 0,
          "type": "string"
        }
      },
      "required": [
        "ID",
        "addressLine1",
        "city",
        "state",
        "postalCode"
      ]
    },
    "portal.pc.dto.quote.qpm.QPMPolicyDriverDTO": {
      "properties": {
        "licenceType": {
          "enum": [
            "full",
            "provisional",
            "foreign",
            "learner"
          ],
          "type": "string"
        },
        "person": {
          "$ref": "portal.pc.dto.PersonDTO"
        },
        "previousInsurer": {
          "enum": [
            "aami",
            "gio",
            "none",
            "nrma"
          ],
          "type": "string"
        },
        "driverHistory": {
          "items": {
            "$ref": "portal.pc.dto.quote.qpm.QPMDriverHistoryDTO"
          },
          "type": "array"
        },
        "hasConvictions": {
          "enum": [
            "yes",
            "unknown",
            "no",
            "yes_unknown"
          ],
          "type": "string"
        },
        "yearsLicenced": {
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6"
          ],
          "type": "string"
        },
        "hasClaim": {
          "enum": [
            "yes",
            "unknown",
            "no",
            "yes_unknown"
          ],
          "type": "string"
        },
        "ID": {
          "type": "string"
        },
        "hasLostLicence": {
          "enum": [
            "yes",
            "unknown",
            "no",
            "yes_unknown"
          ],
          "type": "string"
        },
        "noClaimBonus": {
          "enum": [
            "rating_1",
            "rating_2",
            "rating_3",
            "rating_4",
            "rating_5",
            "nil",
            "no_previous_insurer"
          ],
          "type": "string"
        },
        "hasInfringement": {
          "enum": [
            "yes",
            "unknown",
            "no",
            "yes_unknown"
          ],
          "type": "string"
        }
      },
      "required": [
        "ID",
        "licenceType",
        "yearsLicenced",
        "noClaimBonus",
        "previousInsurer",
        "person"
      ]
    }
  },
  "info": {
    "title": "Guidewire PolicyCenter Portal",
    "description": "API for Guidewire PolicyCenter Portal",
    "version": "1.0.0"
  }
}